/* External */

body{
    padding-bottom: 500px;
}

h3{
    color: green;
}

/*p{
    color: blueviolet;
}*/


/*Classes*/
.paragrafo{
    background-color: pink;
    color:aquamarine;
   /* padding: 5px; */
}

/* Ids */

#exclusive-title {
    background-color: blue;
    color: yellow;
    padding: 10px;
}

/* Ordem das regras */

h2 {
    border-bottom: 5px solid red;
}

.titulo {
    border-bottom: 5px solid blue;
}

/* Nome da cor */
.color.name {
    color: crimson;
}

/* hex */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #9cbe92
}

/* Aprofundando em hex */

.simple-hex {
    color: #333
}

.simple-hex-2 {
    color: #a65
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(222, 55, 23);
}

/* RGBA */

.rgba {
    color: rgba(92, 255, 5, 0.4);
}

/* HSL */

.hsl {
    color: hsl(100, 25%, 30%);
}

.hsl-2 {
    color: hsl(120, 50%, 40%);
}

/* Background-color */
.bg {
  background-color: #000;
  color: yellow;
}

.bg-2 {
  background-color: rgb(200, 20, 40);
  color: #00eaff;
}

/* Background opacity */

.bg-opacity {
  background-color: green;
  opacity: 0.2;
}

.bg-opacity-2 {
  background-color: #999;
  color: #000;
  opacity: 0.8;
}

/* rgba opacity */

.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
}

/* BG image */

.bg-image {
    background-image: url("../img/nature.jpg");
    padding: 10px;
    color:#FFF;
}

/* Centralizando BG image */

.not-centered-bg,
.centered-bg {
     height: 400px;
     width: 400px;
     background-image: url("..//img/bridge.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

.height-width{
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2{
    height: 300 px;
    background-color: #333;
}

/* Padding */

.without-padding,
.padding{
    background-color: #111;
    color: #fff;
}

.padding{
    background-color: #333;
    padding: 20px;
}

/* padding individual */

.padding-individual {
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* shorthand-padding */

.shorthand-padding {
    background-color: #444;
    padding: 6px 12px 18px 24px;
}

.shorthand-padding-2 {
    background-color: #555;
    padding: 10px 2px;
    /* 10px 20px 10px 2px; */
}

.without-border-box {
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50;
}

.border-box {
    background-color: #666;
    color: #fff;
    width: 400px;
    padding: 50;
    box-sizing: border-box;
}

/* borde */

.border {
    border: 5px solid red;
    padding: 10px;
}

.border-2 {
    border: 2px dotted #931;
    padding: 25px;
}

/* Borda individual */

.border-left {
    border-left: 3px solid red;
    background-color: #444;
    padding: 25px;
}

.border-bottom {
    border-bottom: 5px double #399;
    background-color: #222;
    padding: 20px;
}

/* Borda Arredondada */

.rounded-p {
    border: 4px solid blue;
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 15px;
}

.rouded-p-2 {
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 25px;
}

/* margem */
.margin {
    margin: 10px;
    background-color: #222;
}

.margin-top {
    margin: 50px;
    background-color: #444;
    padding: 10px;
}

.margin-shorthand {
    background-color: #666;
    margin: 5px 10px 15px 20px;
}

.box-model {
    margin: 20px;
    padding: 15px 20px;
    border: 3px solid #364;
    border-radius: 7px;
    width: 200px;
    height: 400px;
}

/* Text transform */

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}