/* External */

body{
    padding-bottom: 500px;
}

h3{
    color: green;
}

/*p{
    color: blueviolet;
}*/


/*Classes*/
.paragrafo{
    background-color: pink;
    color:aquamarine;
    padding: 5px;
}

/* Ids */

#exclusive-title {
    background-color: blue;
    color: yellow;
    padding: 10px;
}

/* Ordem das regras */

h2{
    border-bottom: 5px solid red;
}

.titulo{
    border-bottom: 5px solid blue;
}

/* Nome da cor */
.class-name{
    color: crimson;
}