/* External */

body{
    padding-bottom: 500px;
}

h3{
    color: green;
}

p{
    color: blueviolet;
}

.paragrafo{
    background-color: pink;
    color:aquamarine;
    padding: 5px;
}